<hr />
<footer>
  <p>&copy; Copyright Manolyx Club Inc. 2025</p>
  <p>Created by <a href="#">siaka.d</a></p>
  <p>
    Learning backend designing from
    <a href="https://theodinproject.com">The Odin Project</a>
  </p>
</footer>
