<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %> | Manolyx</title>
<link rel="icon" type="image/jpg" href="/logo.jpg" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/base.css" />
