.home-link {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary);
}

main {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: var(--forth);
  width: 400px;
  margin: 10px 0;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  height: fit-content;
}

form {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.formHead {
  padding: 10px 20px;
}

.formHead > h1 {
  width: 100%;
}

.formHead div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHead > div p:last-child {
  color: gray;
  margin-top: 20px;
}

.formHead p a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}
.formHead p a:hover {
  text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
  position: relative;
}

section input {
  height: 40px;
  background-color: #fafafa;
  outline: none;
  border: 1px solid var(--tertiary);
  border-radius: 4px;
  padding: 0 10px;
}

form > button {
  background-color: var(--primary);
  color: var(--forth);
  border: none;
  padding: 8px 0;
  border-radius: 5px;
}

form > button:hover {
  filter: brightness(0.9);
}

.togglePwdView svg {
  width: 20px;
  height: 20px;
  fill: var(--primary);
}

.togglePwdView {
  background: none;
  border: none;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
}

.errors {
  color: red;
  text-align: center;
}
